

$secondary-text: rgb(209, 209, 216);
$bg-color1: rgba(10, 13, 20);
$btn-color: rgb(210, 221, 230);
$transix: 0.5s ease-in-out;
$filter-white: brightness(0) invert(1) 
                saturate(0.1) 
                brightness(0.85);
$btn-outline: 1px solid rgba(255, 255, 255, 0.3);
$bg-color2: rgba(10, 13, 20, 0.55);
$bg-color3: rgba(15, 38, 46);
$bg-color4: rgba(44, 66, 76);
$bg-color5: rgb(141, 154, 160);
$input-box: rgba(255,255,255,0.06);
$bg-color-dsk: rgba(18, 31, 39);


$font-xs:   clamp(1rem, 1.2vw, 1.2rem);
$font-sm:   clamp(1.2rem, 1.4vw, 1.4rem);
$font-md:   clamp(1.3rem, 1.5vw, 1.5rem);
$font-lg:   clamp(1.5rem, 1.8vw, 1.8rem);
$font-xl:   clamp(2rem, 2.5vw, 2.5rem);




nav{
    position: static;
    border: none;
    background-color: $bg-color4;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 6rem;
    align-items: center;
    border-radius: 15px;

    .nav-container{
        width: 8rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        &:hover{
            border-radius: 15px;
            border: none;
            background-color: $bg-color5;
            cursor: pointer;
            
        }

        img{
            filter: $filter-white;
            height: 30px;
            width: 30px;
        }
        p{
            letter-spacing: 0.5px;
            color: $secondary-text;
        }
    }
}
.desktop-nav{
    display: none;
}



@media (min-width: 768px) {
    
    nav{
        display: none;
    }


    .desktop-nav-dsk{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1.5rem 1rem;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        height: auto;

        .dsk-info-container{
            // border: 2px solid white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 22%;
            height: 8rem;
            gap: 1rem;

            .icon{
                width: 5rem;
                height: 5rem;
                background-color: $bg-color5;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                img{
                    width: 25px;
                    height: 20px;
                    filter: $filter-white;
                }
            }

            .texts{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h6{
                    letter-spacing: 0.5px;
                    font-weight: 600;
                    color: white;
                    font-size: 1.1rem;
                }
                p{
                    color: $secondary-text;
                    letter-spacing: 0.5px;
                    font-size: 1rem;
                }
            }
        }
    }
}