.result-container {
  padding: 2rem 1.5rem;
}

.result-header {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 0.5rem;
}

.search-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7rem;
}
.search-details .header-text-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.search-details .header-text-section .icon-container {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgb(44, 66, 76);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-details .header-text-section .icon-container img {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
}
.search-details .header-text-section .icon-container:hover {
  cursor: pointer;
  background-color: rgba(10, 13, 20, 0.55);
}
.search-details .header-text-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-details .header-text-section .text-container .locations {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.search-details .header-text-section .text-container .locations h5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
}
.search-details .header-text-section .text-container .locations img {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
}
.search-details .header-text-section .text-container .dates {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  height: 2rem;
  height: auto;
}
.search-details .header-text-section .text-container .dates p {
  font-size: 1.1rem;
  color: rgb(209, 209, 216);
  letter-spacing: 0.6px;
}
.search-details .header-text-section .text-container .dates span {
  font-size: 2.5rem;
  display: inline-block;
  display: flex;
  align-items: center;
  padding-bottom: 1.2rem;
}
.search-details button {
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  align-self: center;
  border: none;
  background-color: rgb(44, 66, 76);
  color: white;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 1.2rem;
}
.search-details button:hover {
  cursor: pointer;
  background-color: rgba(10, 13, 20, 0.55);
}

.result-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin-top: -1rem;
}
.result-nav .nav-item {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 5px;
  letter-spacing: 0.5px;
  background-color: rgb(44, 66, 76);
  border: none;
}
.result-nav .nav-item:hover {
  cursor: pointer;
  background-color: rgba(10, 13, 20, 0.55);
}
.result-nav .nav-item img {
  filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
  height: 1.5rem;
  width: 1.5rem;
}

.result-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.result-main h6 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 600;
  color: rgb(209, 209, 216);
}

.details-container {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details-container .details-item {
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(44, 66, 76);
  border-radius: 5px;
  height: 14rem;
}
.details-container .details-item .airline-name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  font-weight: 500;
}
.details-container .details-item .time-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details-container .details-item .time-details .one {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details-container .details-item .time-details .one h5 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.details-container .details-item .time-details .one p {
  font-size: 1.2rem;
  color: rgb(209, 209, 216);
}
.details-container .details-item .time-details .two {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}
.details-container .details-item .time-details .two p {
  font-size: 1.2rem;
  color: rgb(209, 209, 216);
  font-weight: 300;
}
.details-container .details-item .time-details .two img {
  width: 7rem;
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(67%) sepia(8%) saturate(293%) hue-rotate(155deg) brightness(92%) contrast(88%);
}
.details-container .details-item .price-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.details-container .details-item .price-detail .price-detail-item {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: flex-end;
}
.details-container .details-item .price-detail .price-detail-item h4 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.details-container .details-item .price-detail .price-detail-item p {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(209, 209, 216);
}
.details-container .details-item .price-detail img {
  width: 3rem;
  height: 3rem;
  filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
}
.details-container .details-item .price-detail img:hover {
  cursor: pointer;
}

aside {
  display: none;
}

.time-details-dsk {
  display: none;
}

#details-item-hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#details-item-hotel .item-photo {
  height: 100%;
  min-width: 12rem;
  border-radius: 5px;
}
#details-item-hotel .item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 45%;
}
#details-item-hotel .item-details h5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 550;
}
#details-item-hotel .item-details .rating {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: rgba(10, 13, 20, 0.55);
  width: 8rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#details-item-hotel .item-details .pecs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#details-item-hotel .item-details .pecs span {
  height: 2.5rem;
  width: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 13, 20, 0.55);
  border-radius: 5px;
}
#details-item-hotel .item-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
  align-items: center;
}
#details-item-hotel .item-action .site-icon {
  filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
}
#details-item-hotel .item-action .favorite-icon {
  filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
  height: 3rem;
  width: 3rem;
  align-self: flex-end;
}

@media (min-width: 768px) {
  .result-layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(18, 31, 39);
  }
  .desktop-sidebar {
    width: 7rem;
    min-height: 100vh;
    background-color: rgb(15, 38, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .desktop-sidebar .sidebar-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
  }
  .desktop-sidebar .sidebar-top .sidebar-logo {
    width: 7rem;
    height: 7rem;
    -o-object-fit: contain;
       object-fit: contain;
    filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
  }
  .desktop-sidebar .sidebar-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .desktop-sidebar .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktop-sidebar .sidebar-icon {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  .desktop-sidebar .sidebar-icon img {
    width: 2.2rem;
    height: 2.2rem;
    filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
    opacity: 0.6;
  }
  .desktop-sidebar .sidebar-icon:hover {
    background-color: rgb(44, 66, 76);
  }
  .desktop-sidebar .sidebar-icon:hover img {
    opacity: 1;
  }
  .desktop-sidebar .sidebar-icon.active {
    background-color: rgb(44, 66, 76);
  }
  .desktop-sidebar .sidebar-icon.active img {
    opacity: 1;
  }
  .result-container {
    margin-left: 7rem;
    width: calc(100vw - 7rem);
    box-sizing: border-box;
  }
  .search-details {
    margin-bottom: 2rem;
  }
  .search-details button {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  .result-nav {
    width: 60%;
    margin-bottom: 1rem;
  }
  .result-nav .nav-item:hover {
    background-color: rgba(10, 13, 20, 0.55);
  }
  .result-main {
    gap: 1.5rem;
  }
  .result-main .details-container {
    gap: 1rem;
  }
  .result-main .details-container .details-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
  }
  .result-main .details-container .details-item .airline-name {
    display: flex;
    width: 25%;
    gap: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding-right: 1rem;
    border-right: 0.5px groove rgba(10, 13, 20, 0.55);
    height: 60%;
  }
  .result-main .details-container .details-item .airline-name img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .result-main .details-container .details-item .time-details {
    display: none;
  }
  .result-main .details-container .details-item .time-details-dsk {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    border-right: 0.5px groove rgba(10, 13, 20, 0.55);
    height: 60%;
  }
  .result-main .details-container .details-item .time-details-dsk .one {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .result-main .details-container .details-item .time-details-dsk .one h5 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .result-main .details-container .details-item .time-details-dsk .one p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgb(209, 209, 216);
  }
  .result-main .details-container .details-item .time-details-dsk .one h6 {
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: 1.5px;
    color: white;
  }
  .result-main .details-container .details-item .time-details-dsk .two {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: auto;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(209, 209, 216);
    letter-spacing: 1px;
  }
  .result-main .details-container .details-item .time-details-dsk .two img {
    filter: brightness(0) invert(1) saturate(0.1) brightness(0.85);
  }
  .result-main .details-container .details-item .price-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    padding-right: 1rem;
    border-right: 0.5px groove rgba(10, 13, 20, 0.55);
    height: 60%;
  }
  .result-main .details-container .details-item .price-detail .price-detail-item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .result-main .details-container .details-item .price-detail .price-detail-item h4 {
    font-size: 2rem;
    letter-spacing: 1.2px;
    font-weight: 550;
  }
  .result-main .details-container .details-item .price-detail .price-detail-item p {
    font-size: 1.3rem;
    color: rgb(209, 209, 216);
  }
}/*# sourceMappingURL=Result.css.map */